/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body {
    background-color: #1a1a1a;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #303030;
    width: 330px;
    border-radius: 5px;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(12, 6, 174); */
    /* flex-wrap: wrap; */

}

h1 {
    text-align: center;
    color: white;
    margin: 10px 0px;
}

#todo-input {
    padding: 10px;
    background-color: #232121;
    border: none;
    border-radius: 5px;
    color: #fff;
}

#add-task-btn {
    padding: 10px;
    background-color: #037bfc;
    border-radius: 5px;
    margin-left: 12px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;

}

#todo-list {

    padding: 10px;
    border-radius: 5px;
}

#todo-list li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #766d6d;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 290px;
    /* border: 2px solid red; */
    /* background-color: #616161; */

}

#todo-list li button {
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
}

#todo-list li button:hover {
    background-color: rgb(199, 10, 10);
}

/* li.completed span {
    text-decoration: line-through;
    color: #aaa;
  } */