* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* border: 2px solid red; */
    background-color: #1a1a1a;
    color: white;
}

.container {
    /* border: 10px solid #f4c727e9; */
    /* box-shadow: 10px 10px 10px #a4a4a3; */
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    background-color: #322a47;
}

h1,
h2 {
    margin-bottom: 20px;
}

#product-list {
    margin-bottom: 30px;
}

.product {
    background-color: #333333;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.product button {
    background-color: #6200ea;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #3700b3;
}
#remove{
    background-color: red;
    padding: 6px 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-left:40px ;
}
#remove:hover{
    background-color: #ab0707;
}
#cart-items {
    margin-bottom: 20px;
}
#cart-items div{
    margin: 20px;
}

#cart-total {
    /* float: right; */
    text-align: right;
}

#checkout-btn {
    background-color: blue;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#checkout-btn:hover {
    background-color: #0c0c9d;
}

.hidden {
    display: none;
}